// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.wenjieright 
{ 
    background: #C3D9FF; 
    height:120px; 
    border:1px solid #BBBBBB; 
}

.wenjieright a:link 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.wenjieright a:visited 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.wenjieright a:active,a:hover 
{ 
    color: #0057b6; 
    text-decoration: underline; 
}
